* {
    box-sizing: border-box;
}

.container {
    max-width: 100%;
    border: 1px dashed #8a8484;
    background-color: #F7F7F7;
    padding: 10px 30px;
}

header, footer {
    color: #A2A5AB;
    background-color: #fff;
    border: 1px solid #8a8484;
}

header {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}

footer {
    height: 80px;
    text-align: center;
    padding-top: 10px;
}

.content {
    display: flex;
    justify-content: center;
    margin: 5px 0;
}
.col {
    width: 100%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.colLeft {    
    margin-right: 20px;
}
.block1, .block6 {
    flex: 1 1 auto;
}
.block4 {
    flex: 2 1 auto;
}
.block2, .block7 {
    flex: 1 1 auto;
}
.block5, .block3 {
    flex: 2 1 auto;
}

.block {
    color: #0B305A;
    background-color: #DAEDF9;
    border: 1px solid #8a8484;
    margin: 5px 0;
    text-align: center;
}

@media all and (max-width: 640px) {
    .content {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }
}
